<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h5>Register</h5>
        <form method="post" action="">
        {% csrf_token %}
            {{form.as_p}}
            <input type="submit" name=" Create user">
        </form>

        <script src="" async defer></script>
    </body>
</html>


